
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.calificaciones{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carousel-container{
    position: relative;
    overflow: hidden;
    
}

.carousel{
    
    padding: 1rem;
    z-index: 10;
    /* overflow: hidden; */
}
/* 
.carousel-track{
    display: flex;
    flex-direction: row;
    animation: slide 15s linear infinite;
    gap: 1rem;
} */

/* @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
} */

.carousel-item{
    background-color: aqua;
    height: 12.5rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item h5{
    font-size: 1.25rem;
    text-wrap: nowrap;
    overflow: hidden;
}

.icon-5stars{
    margin: 0.8rem 0 0.8rem 0;
    font-size: 1rem;
}

.calificaciones-card-text {
    font-size: 0.9rem;
    color: #555;
    text-wrap: pretty;
    display: -webkit-box;  /*Establece un contenedor flexible */
    -webkit-box-orient: vertical; /* Define la orientación del contenedor */
    -webkit-line-clamp: 4;
    line-clamp: 3; /* Número de líneas visibles */
    overflow: hidden; /* Oculta el contenido que se desborda */

}

/* Botones de navegación
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
} */


/* ESCRITORIO */
@media (min-width: 768px) {

    .carousel{
        max-height: 14.5rem;

    }

    .carousel-track{
        display: flex;
        flex-direction: row;
        animation: slide 15s linear infinite;
        gap: 1rem;
    }

    @keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


    .carousel-container{
        width: 80vw;

        overflow: hidden;
    }

    .carousel-item{
        min-width: 20vw;
        /* margin: 0 0.1% 0 0.1%; */
    }
    
    


}

/* MOBILE */
@media (max-width: 768px) {
    
    .carousel-container{
        width: 90vw;
    }

    .carousel-track{
        display: flex;
        flex-direction: row;
        animation: slide 8s linear infinite;
        gap: 1rem;
    }

    @keyframes slide {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }
    

    .carousel-item{
        min-width: 90%;
        margin: auto;
    }

    

   
    

}