/* Reset */

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Colores */
    --color-primario-1: #782954;
    --color-texto-bloque: #ffffff;
    --color-texto-tarjetas: #000000;
    --color-primario-3: #545454;
    --color-secundario-1: #a09f9f;
    --color-secundario-2: #ececec;
    /* Fuentes */
    --fuente-titulos: 'Montserrat',
    sans-serif;
    --fuente-texto: 'Merriweather',
    serif;
}



.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-secundario-2);
    color: white;
}

.logo img {
    max-width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links li a {
    text-decoration: none;
    font-family: Montserrat, serif;
    font-weight: bold;
    color: var(--color-texto-tarjetas);
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--color-primario-1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 1.5rem;
    color: white;
}


p {
    text-wrap: pretty;
}

.portadaimg{
    width: 100%;
    height: 80vh;
    background-image: url(/img/fondoescritorio_transparencia.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.portadatexto div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portadatexto h1,
h3 {
    /* font-family: var(--fuente-titulos); */
    color: var(--color-texto-bloque);
    text-align: center;
}

.portadatexto h1 {
    /* font-size: 4rem; */
    color: var(--color-texto-bloque);
}

.portadatexto h3 {
    /* font-size: 2rem; */
    background-color: var(--color-primario-1);
}

.portadatexto p {
    font-family: var(--fuente-texto);
    font-weight: bold;
    color: var(--color-texto-bloque);
    text-align: center;
}

.button {
    background-color: var(--color-primario-1);
    font-family: var(--fuente-titulos);
    font-weight: bold;
    color: var(--color-texto-bloque);
    border-radius: 8px;
}

.quienes-container {
    width: 100%;
    background-color: var(--color-secundario-2);
}

.quienes-container h2{
    color: var(--color-primario-1);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .portadatexto {
        position: absolute;
        top: 8rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        justify-content: center;
    }

    .portadatexto h1 {
        font-size: 4rem;
    }

    .subtitulo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
        margin: 2rem 0;
    }

    .resaltado1 h3 {
        padding-right: 0.5rem;
    }

    .portadatexto h3 {
        font-size: 2rem;
    }

    .portadatexto div p {
        margin-top: 2rem;
        max-width: 600px;
        font-size: 1.8rem;
    }


    .button {
        margin-top: 2rem;
        padding: 1rem 2.5rem;
        font-size: 2rem;
    }

    .quienes-container {
        padding: 4rem;
    }

    .quienes-container h2{
        font-size: 3rem;
        text-align: center;
        /* padding: 0.8rem; */
    }

    .container{
        margin: 1rem 3rem;
        padding: 0.5rem;
    }

    .container p{
        font-size: 1.5rem;
        font-weight: bold;
        text-wrap: pretty;
    }


}

/* Responsive */
@media (max-width: 768px) {
    .logo img {
        max-width: 40px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--color-secundario-2);
        position: absolute;
        top: 55px;
        right: 0;
        width: 100%;
        padding: 1rem;
        text-align: center;
        z-index: 100;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .portadaimg{
        height: 70vh;
    }

    .portadatexto {
        position: absolute;
        top: 10%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        justify-content: center;
    }

    .portadatexto h1 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    .subtitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .subtitulo h3 {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .portadatexto div p {
        margin-top: 2rem;
        max-width: 200px;
        font-size: 0.8rem;
    }

    .button {
        margin-top: 1.5rem;
        padding: 0.8rem 1.8rem;
        font-size: 1rem;
    }

    .quienes-container {
        padding: 1rem;
    }

    .quienes-container h2{
        font-size: 2.5rem;
        text-align: center;
    }

    .container{
        margin: 1rem 0;
        /* padding: 1em; */
    }

    .container p{
        font-size: 1rem;
        font-weight: bold;
        text-wrap: pretty;
    }


    
}